@media screen and (max-width:675px) {
        .nav-area,.banner-form form,.popular-tour{
            flex-direction: column;
        }
       .container{
        max-width: 90%;
       }
       .banner .banner-title{
        font-size: 2rem;
       }
       .banner{
        width: 100%;
       }
       .nav{
        display: none;
       }
       .popular-tour-img img{
        width: 100%;
        margin-top: 20px;
       }
       .section-title{
        font-size: 1.50rem;
       }
}