@media screen and (max-width:675px) {
        .nav-area,.banner-form form,.popular-tour,.newsletter,.place{
            flex-direction: column;
            gap: 20px;
        }
       .container{
        max-width: 90%;
       }
       .banner .banner-title{
        font-size: 2rem;
       }
       .banner{
        width: 100%;
       }
       .nav{
        display: none;
       }
       .popular-tour-img img{
        width: 100%;
        margin-top: 20px;
       }
       .section-title{
        font-size: 1.50rem;
       }
       .news-pic{
        width: 100%;
        height: 100%;
        padding: 200px;
       }
       .destination-container{
        display: flex;
        flex-direction: column;
       }
}